


:root {
    --body-background: #f5fafc;

    &[data-scheme="dark"] {
        --body-background: #152238;
    }
}


/*
*   Card style
*/
:root {
    --card-background: #fff;
    --card-background-selected: #eaeaea;

    --card-text-color-main: #192841;
    --card-text-color-secondary: #747474;
    --card-text-color-tertiary: rgb(78, 140, 195);

    &[data-scheme="dark"] {
        --card-background: #192841;
        --card-background-selected: rgba(255, 255, 255, 0.16);
        --card-text-color-main: rgba(255, 255, 255, 0.9);
        --card-text-color-secondary: rgba(255, 255, 255, 0.7);
        --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
     
    }
}